{% extends "base.html" %}
<h1 class="entry-title">{% block blockname %} Notifications {% endblock blockname %} </h1>
{% block content %}
<h2 class='display-4 text-center'>Your notifications appear here</h2>
<div class="container">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action mb-5">Notification List</a>
  {% for action in actions %}
        <li class="list-group-item list-group-item-action list-group-item-primary mb-3">{{action.user|capfirst}} {{action.verb}} {{action.target.title}} {{action.created|timesince}} ago</li>
    {% endfor %}
</div>
</div>

{% endblock %}