{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<h1 class="entry-title">{% block blockname %} Event Detail. {% endblock blockname %} </h1>
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 single-event">
            <div class="event-content-wrap">
                <header class="entry-header flex flex-wrap justify-content-between align-items-end">
                    <div class="single-event-heading">
                        <h2 class="entry-title text-capitalize display-4"> {{event.title}} </h2>
                        <p>Created by:  {{event.creator|capfirst}} </p>
                        <img style="height:120px; width:120px;" class="rounded-circle article-img" src="{{ event.creator.profile.profile_pic.url }}">
                        
                    </div>

                    <div class="buy-tickets flex justify-content-center align-items-center pb-4">
                        <a class="btn gradient-bg" href="{% url 'events:attend_event' event.id %}">Attend This Event</a>
                    </div>
                </header>
                  
                <figure class="events-thumbnail">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 img-thumbnail">
                                <img class="" style="height:300px; width:350px;" src="{{ event.event_image1.url }}" alt="not found" >
                            
                        </div>
                        <br>
                        <div class="col-lg-4 col-md-4 img-thumbnail">
                                <img style="height:300px; width:350px;" class="" src="{{ event.event_image2.url }}" alt="not found" >
                                
                        </div>
                        <div class="col-lg-4 col-md-4 img-thumbnail">
                                <img style="height:300px; width:350px;" class="" src="{{ event.event_image3.url }}" alt="not found" >
                        </div>
                    </div>
                    <!-- <img src="{%static 'agenda/images/summer.jpg' %}" alt=""> -->
                    
                </figure>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="tabs">
                <ul class="tabs-nav flex">
                    <li class="tab-nav flex justify-content-center align-items-center" data-target="#tab_details">Details</li>
                    <li class="tab-nav flex justify-content-center align-items-center" data-target="#tab_venue">Description</li>
                    <li class="tab-nav flex justify-content-center align-items-center" data-target="#tab_organizers">Organizers</li>
                </ul>

                <div class="tabs-container">
                    <div id="tab_details" class="tab-content">
                        <div class="flex flex-wrap justify-content-between">
                            <div class="single-event-details">
                                <div class="single-event-details-row">
                                    <label>Time</label>
                                    <p><div class="event-date">{{event.event_time}}</div></p>
                                </div>

                                <div class="single-event-details-row">
                                    <label>Location</label>
                                    <p><div class="event-location"><a href="#">{{event.location}}</a></div></p>
                                </div>

                                <div class="single-event-details-row">
                                    <label>Views and Claps:</label>
                                    <p>{{event.claps}} claps and {{event.views}} views</p>
                                </div>

                                <div class="single-event-details-row">
                                    <label>Categories:</label>
                                    <p>{{event.category}}</p>
                                </div>

                                <div class="single-event-details-row">
                                    <label>Published date:</label>
                                    <p>{{event.Published_date}}</p>
                                </div>
                            </div>

                            <div class="single-event-map">
                                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university of san francisco&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>

                    <div id="tab_venue" class="tab-content">
                        <p>{{event.description}}</p>
                    </div>

                    <div id="tab_organizers" class="tab-content">
                        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="div mt-5 mb-4 p-5">
      {% if event.creator == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="">Delete</a>
        </div>  
      <h2> Attendees </h2>
      {% for attendees in event.attendees.all %}
        {{attendees.email}}
      {% endfor %}

      {% endif %}

      <h1>New Comment</h1>
      <form  class='post-form' method="POST" action="{% url 'events:event_detail' pk=event.pk %}">
        {% csrf_token %}
        <div rows=3 >
        {{ form|crispy }}
        </div>
        <button type="submit" class='save btn btn-default'>Post Comment</button>
      </form>
  </div>
        <ol>
          {% for comment in comments  %}
            <div class="card w-80 mb-3">
            <div class="card-header"><p class="card-text"><span style="color:blue;"><strong><a href="">posted by {{comment.author }}</a></strong></span> | on {{comment.created_date}} {{post.date_posted|date:"F d Y"}}</p></div>
            <div class="card-body">
            <div class='row'>
                <div class='col-2'>
                <p class="card-title"><img style="height:65px; width:65px; " class="rounded-circle " src="{{ comment.author.profile.profile_pic.url }}"></p>
                </div>
                <div class='col-10 pt-4'>
                <p><b>{{comment.comment_text}}</b></p>
                </div>
            </div>
                
            </div>
            </div>
            </div>
          {% endfor %}
        </ol>
      
</div>
  
{% comment %} .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
} {% endcomment %}

<div class="mx-auto w-75">
    <h2>{{ event.get_number_of_attendees }} Attending</h2>
    <div class="card card-body">
        {% for attendee in attending %}
            <p>{{ attendee.username|capfirst }}</p>

        {% endfor %}

    </div>
</div>
{% endblock content %}